<a href="https://colab.research.google.com/github/Edzioski/AdrianLupinskiNarzedzia/blob/main/Kopia_notatnika_Python_WSE_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Polecenie print

In [ ]:
print("Hello world!", end=" * ")
print("Hello Mars!")
print("\tHello\n\"Venus!\"")
print('Hello "Venus!"')
print("A", "u", "t", "o", sep="-")
print("A"+"u"+"t"+"o", sep="-")
print("#"+"F"*6)
# parametr end określa co ma wypisać na końcu linii
# \n - nowa linia
# \t - tabulator

Hello world! * Hello Mars!
	Hello
"Venus!"
Hello "Venus!"
A-u-t-o
Auto
#FFFFFF

# Zmienne

In [ ]:
v1 = 6
v2 = 4
print(v1, "+", v2, "=", v1 + v2)
print(v1, "-", v2, "=", v1 - v2)
print(v1, "*", v2, "=", v1 * v2)
print(v1, "/", v2, "=", v1 / v2)
print(f"{v1} % {v2} = {v1 % v2}")
print(f"{v1} ** {v2} = {v1 ** v2}")

6 + 4 = 10
6 - 4 = 2
6 * 4 = 24
6 / 4 = 1.5
6 % 4 = 2
6 ** 4 = 1296

In [ ]:
v3 = 1
v4 = 1.5
v5 = True
v6 = "text"
print("v3 = ", v3, type(v3))
print("v4 = ", v4, type(v4))
print("v5 = ", v5, type(v5))
print("v6 = ", v6, type(v6))
v3 = "jeden"
v6 = 2.0
print("v3 = ", v3, type(v3))
print("v6 = ", v6, type(v6))

v3 =  1 <class 'int'>
v4 =  1.5 <class 'float'>
v5 =  True <class 'bool'>
v6 =  text <class 'str'>
v3 =  jeden <class 'str'>
v6 =  2.0 <class 'float'>

In [ ]:
drukuj = print
drukuj("czy wpisze?")
drukuj(v1, "+", v2, "=", v1+v2)

czy wpisze?
6 + 4 = 10

In [ ]:
v10 = "abc"
print(v10, id(v10))
v11 = "abc"
print(v11, id(v11))
v12 = 64
print(v12, id(v12))
v13 = 64
print(v13, id(v13))
v13 = 61
print(v13, id(v13))
v13 = 64
print(v13, id(v13))

# v14 = 512
# print(v14, id(v14))
# v15 = 512
# print(v15, id(v15))

abc 139948142013872
abc 139948142013872
64 139948142842192
64 139948142842192
61 139948142842096
64 139948142842192

In [ ]:
v7 = 6
v8 = 9
print(v7, v8)
v7, v8 = v8+3, v7-1
print(v7, v8)

6 9
12 5

In [ ]:
int1 = 256
int2 = 0x100
int3 = 0o400
int4 = 0b100000000
print(int1, int2, int3, int4)

256 256 256 256

In [ ]:
re1 = 100.
re2 = 0.10
re3 = .10
re4 = 1e3
print(re1, re2, re3, re4)

100.0 0.1 0.1 1000.0

In [ ]:
# txt = input("Wpisz dowolny tekst:")
# print(txt)
num1 = int(input("Pierwsza liczba:"))
num2 = float(input("Druga liczba:"))
print(f"{num1} + {num2} = {num1+num2}")

Pierwsza liczba:3
Druga liczba:4
3 + 4.0 = 7.0

# Instrukcje warunkowe

In [ ]:
year_birth = int(input("Podaj rok urodzenia:"))
current_year = 2023
age = current_year - year_birth
print("Wiek: ", age)
if age >= 18:
  print("Pełnoletni")
else:
  print("Niepełnoletni")

Podaj rok urodzenia:2010
Wiek:  13
Niepełnoletni

In [ ]:
x = 1
y = 3
if x > 0 and y >0:
  print("obie dodatnie")

obie dodatnie

In [ ]:
num1 = 10
num2 = 10.
if num1 == num2:
  print(f"1. {num1} = {num2}")
if num1 is num2:
  print(f"2. {num1} is {num2}")
if num1 is not num2:
  print(f"3. {num1} is not {num2}")
num2 = int(num2)
if num1 is int(num2):
  print(f"4. {num1} is {num2}")

1. 10 = 10.0
3. 10 is not 10.0
4. 10 is 10

In [ ]:
number = float(input("Podaj liczbę:"))
if number % 2 == 0:
  print(f"Liczba {number} jest parzysta.")
else:
  print(f"Liczba {number} nie jest parzysta.")
  print("tak sobie sprawdzam blok kodu")
print("i jeszcze troche tekstu")

Podaj liczbę:5
Liczba 5.0 nie jest parzysta.
tak sobie sprawdzam blok kodu
i jeszcze troche tekstu